@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;

}


ul {
    list-style-type: none;
}

h1{
    font-size: 68px;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.header {
}

.logo img{
    width: 80%;
    
}

.wrapper {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;

}



.menu ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    transition: .3s;
    text-align: center;


}

.menu ul li {
    margin-left: 20px;

}

.menu ul li a:hover {
border-bottom: 2px solid rgb(71, 5, 5);
}



.menu ul li a{
    text-decoration: none;
    color: #000;

}


.banner{
    max-height: 850px;
    min-height: 550px;
    padding-left: 0;

    background-image: url('https://www.afisha.ru/uploads/6/7b/67bdca78c5a242cb89e6617e5f6372ba.JPG')  ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 1;

}


.fon {
    position: absolute;
    z-index: 3;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding-left: 200px;
    max-height: 850px;
    min-height: 550px;
}

.banner h1 {
}


.content {
margin-top: 100px;
padding-right: 30rem;  
    

}


.banner__text {
    font-size: 25px;
    margin-top: 50px;
    z-index: 12;
}


.shop  {
   
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    




}

.card {
    display: flex;
    position: relative;
    padding-right: 50px;
    box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;

   margin-bottom: 50px;
   transition: .4s;

}


.background-img img {
    width: 350px;
    height: 100%;
    transition: .4s;

}
.background-img img:hover {

filter: brightness(40%)

}



.disk {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;

}

.bottom {
    position: absolute;
    margin-right: 90px;
    margin-top: 220px;
}

.bottom a {
    text-decoration: none;
    padding: 5px 80px;
    font-size: 22px;
    background: rgb(82, 10, 10);
    color: #fff;
}

.pizza {
    font-size: 25px;
    margin-top: 15px;
}